@model test667.data.Models.Kategorija_Programi

@{
    ViewBag.Title = "Избриши Категорија";
    Layout = "~/Views/Shared/_Layout_LoggedIn.cshtml";
}
<h3>Дали сакате да ја избришете оваа категорија?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KategorijaIme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategorijaIme)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Избриши" class="btn btn-danger" />
        </div>
    }
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary" style="margin-top:10px">@Html.ActionLink("Назад кон листата", "List1")</button>
    </div>
</div>
