
@{
    ViewBag.Title = "Грешка!";
}

<div class="container text-center">
    <h2>Извинете, таков производ не постои!</h2><br />

    <h5>Се обидовте да отворите производ кој не постои</h5><br />
    <p>
        @Html.ActionLink("Назад кон листата", "Index")
    </p>
</div>



